[Unit]
Description=mezzanine

[Service]
ExecStart=/home/bingecraft/mezzanine/execstart
ExecStop=/home/bingecraft/mezzanine/execstop
WorkingDirectory=/home/bingecraft/mezzanine/
Restart=always

[Install]
WantedBy=default.target
